<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>PlayPal</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="index.html">
            <img src="/assets/logo.png" alt="PlayPal Logo" class="logo_icon">
        </a>
        
        <h1 class="title">PlayPal</h1>

        <nav>
            <ul>
                <li>
                    <a hx-get="/pages/entry.html" hx-target="#content" hx-swap="innerHTML">Join a Game</a>
                </li>
                <li>
                    <a hx-get="/pages/avatar.html" hx-target="#content" hx-swap="innerHTML">Avatar</a>
                </li>
                <li>
                    <a hx-get="/pages/team.html" hx-target="#content" hx-swap="innerHTML">Team</a>
                </li>
            </ul>
        </nav>
    </header>

    <main id="content"></main>

    <footer>
        <p>&copy; PlayPal</p>
        <a href="https://paypal.com" target="_blank">Support us!</a>
    </footer>
</body>
</html>