<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>PlayPal</title>
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <nav>
            <button hx-get="/pages/entry.html" hx-target="#content" hx-swap="innerHTML">Entry</button>
            <button hx-get="/pages/avatar.html" hx-target="#content" hx-swap="innerHTML">Avatar</button>
            <button hx-get="/pages/team.html" hx-target="#content" hx-swap="innerHTML">Team</button>
        </nav>
    </header>

    <main id="content">
        <p>PlayPal</p>
    </main>

    <footer>
        <p>&copy; PlayPal</p>
    </footer>
</body>
</html>