/* main components */

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(180deg, rgba(241,193,72,1) 0%, rgba(229,132,61,1) 50%, rgba(217,70,122,1) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo_icon {
    width: 5em;
    height: 5em;
}

.title {
    margin: 0;
    font-size: 2em;
    padding-right: 1rem;
}

nav ul {
    margin-left: 1rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2em;
}

footer {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    a {
        margin-left: 1rem;
    }
}

.support {
    margin: 0;
    padding: 0;
    
    a, a:visited {
        text-decoration: none;
        color: black;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Join a Game */

.entryBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.entryContainer {
    background-color: white;
    width: 20em;
    padding: 1em;
    /*margin: 10em;*/
    border-radius: 1em;
    /*display: inline-block;*/
        
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.entryItems {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    width:17em;
    margin-top: 0.5em;
    font-weight: bold;
    font-size: 14pt;
    border: none;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: inset 0 0 5px lightgray;
}

.entryItems.inputFalse{
    border: solid red;
    color:red;
}

.entryItems.inputTrue{
    border:solid green;
    color: green;
}

.entryButton{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 14pt;
    margin-top: 0.5em;
    width: 17em;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: none;

}
.entryButton.disabled{
    border: solid rgba(217,70,122,1); 
    background-color: white; 
    color: rgba(217,70,122,1);
    pointer-events: none;
}
.entryButton.enabled{
    border: none;
    background-color: rgba(217,70,122,1);
    color: white;
}


.entryButton:hover {
    box-shadow: 0 0 5px rgba(217,70,122,1);  
    font-weight: bold;
}


/* Avatar */

.avatarBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.continueButton {
    display: flex;
    justify-content: right;

    Button {
        margin: 1em;
        padding: 0.5em;
        font-size: 100%;
        background-color: rgba(217,70,122,1);
        color: white;
        border: 1px solid rgba(217,70,122,1);
        border-radius: 10px;
    }
}

.avatarPlayer {
    width: 10em;
    height: 10em;

    position: relative;
    overflow: hidden;

    margin: 2em auto auto;
}

.avatarSvg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.accessory {
    z-index: 2;
}

.character {
    z-index: 1;
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    padding: 1em;
    margin: 2em auto;
    border-radius: 1em;
    max-width: 50vw;
    width: 100%;
}

.spacer {
    margin: 0 1em 0 1em;
}

.avatarTab {
    padding: 0.1em;
    font-size: 1.5em;
    cursor: pointer;
}

.avatarTab:hover {
    box-shadow: 0px 15px 10px -15px rgba(217,70,122,1);
}

.avatarTab.selected {
    border-bottom: 4px solid rgba(217,70,122,1);
}

.selectionContainer {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    padding: 1em;
    margin: 1em auto auto auto;
    border-radius: 1em;

    /* scrollable */
    height: 50vh;
    max-width: 100%;
    overflow-y: auto;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
    align-content: flex-center;
}

.avatarItem {
    width: 10em;
    height: 10em;
    border: 1px solid grey;
    border-radius: 1em;
}

/* Team */

.teamBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.teamContainer {
    background-color: white;
    padding: 1em;
    margin: 10em;
    border-radius: 1em;
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
}

.teamFlexContainer {
    display: flex;
}

.teamSelection {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
    width: 100%;

    /* scrollable */
    height: 40em;
    max-width: 100%;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.team {
    flex: 100%;
    margin: 0.5em;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.teamPlayers {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.teamPlayer {
    display: flex;
    align-items: center;
}

.teamPlayerName {
    margin-top: 2.4em;
    margin-left: 0.5em;
    font-size: 1em;
}

.teamAvatar {
    width: 3em;
    height: 3em;

    position: relative;
    overflow: hidden;
    margin: 2em auto auto;
}

.teamButtonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.teamButton {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 14pt;
    margin-top: 0.5em;
    width: 17em;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: none;
}