/* main components */

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(180deg, rgba(241,193,72,1) 0%, rgba(229,132,61,1) 50%, rgba(217,70,122,1) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

html, body {
    padding: 0;
    margin: 0;
}

header {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo_icon {
    width: 5em;
    height: 5em;
}

.title {
    margin: 0;
    font-size: 2em;
    padding-right: 1rem;
}

nav ul {
    margin-left: 1rem;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 2em;
}

footer {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;

    a {
        margin-left: 1rem;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

/* Join a Game */
.entryBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}
.entryContainer {
    background-color: white;
    padding: 1em;
    margin: 10em;
    border-radius: 1em;
    display: inline-block;
}
.entryItems {
    border: none;
    border-radius: 1em;
    box-shadow: inset 0 0 5px lightgray;
}
.entryButton {
    width: 100%;
    border: none;
    border-radius: 1em;
    box-shadow: none; 
    background-color: rgba(217,70,122,1); 
    color: white;
}
.entryButton:hover { 
    box-shadow: 0 0 5px rgba(217,70,122,1);
}


/* Avatar */

.avatarBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.avatarContainer {
    background-color: white;
    padding: 1em;
    margin: 10em;
    border-radius: 1em;
    display: inline-block;
}

.avatarTab {
    margin-right: 0.5em;
    padding: 0.1em;
    font-size: 1.5em;
    cursor: pointer;
}

.avatarTab:hover {
    box-shadow: 0px 15px 10px -15px rgba(217,70,122,1);
}

.avatarTab.selected {
    border-bottom: 4px solid rgba(217,70,122,1);
}

.selectionContainer {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;

    /* scrollable */
    height: 40em;
    max-width: 100%;
    overflow-y: auto;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 1em;
    align-content: flex-center;
}

.avatarItem {
    width: 10em;
    height: 10em;
    border: 1px solid grey;
    border-radius: 1em;
}

/* Team */

.teamBody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0;
}

.teamContainer {
    background-color: white;
    padding: 1em;
    margin: 10em;
    border-radius: 1em;
    display: inline-block;
    width: 80%;
    box-sizing: border-box;
}

.flexContainer {
    display: flex;
}

.teamSelection {
    background-color: white;
    box-shadow: inset 0 0 5px black;
    padding: 1em;
    margin-top: 1em;
    border-radius: 1em;
    width: 100%;

    /* scrollable */
    height: 40em;
    max-width: 100%;
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.team {
    flex: 100%;
    margin: 0.5em;
    background-color: #fff;
    box-shadow: 0 0 5px black;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.players {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.player {
    display: flex;
    align-items: center;
}

.playerName {
    margin-left: 0.5em;
    font-size: 1em;
}

.avatar {
    width: 3em;
    align-items: center;
    height: 3em;
    border-radius: 50%;
}