<body class="avatarBody">

    <div class="continueButton">
        <Button hx-get="/pages/team/team.html" 
        hx-target="#mainContent" 
        hx-swap="innerHTML">Continue</Button>
    </div>

    <div class="avatarPlayer">
        <img class="avatarSvg accessory" src="/assets/avatar/kahoot_glasses.svg" alt="">
        <img class="avatarSvg character" src="/assets/avatar/kahoot_deer.svg" alt="">
    </div>

    <div class="avatarContainer">
        <nav>
            <a id="charactersTab" class="avatarTab selected" onclick="selectTab('charactersTab')" hx-get="/pages/avatar/characters.html" hx-target="#avatarContent" hx-swap="innerHTML">Characters</a>
            <span class="spacer"></span>
            <a id="accessoriesTab" class="avatarTab" onclick="selectTab('accessoriesTab')" hx-get="/pages/avatar/accessories.html" hx-target="#avatarContent" hx-swap="innerHTML">Accessories</a>
        </nav>

        <div class="selectionContainer" id="avatarContent">
            <!--loading items here-->
        </div>
    </div>

    <script type="module" src="/js/avatar.js"></script>
</body>